<div class="header-container">
    <header class="site-head" style="background-image:url({{@blog.cover}})">
        <div class="header-text">
            <h1 class="blog-title">{{@blog.title}}</h1>
            <span class="blog-description">{{@blog.description}}</span>    
        </div>
    </header>
    <nav class="main-nav">
    	<ul>
    		<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
        	<li>
    			<a href="http://animformed.ghoster.io/tools/">Tools<span class="caret"></span></a>
    			<div>
    				<ul>
    					<li><a href="http://www.creativecrash.com/maya/script/modular-rigging-tools-for-maya" target="_blank">Modular rigging tools for Maya</a></li>
    					<li><a href="http://www.creativecrash.com/maya/script/constrain-attach-transform-to-a-shape" target="_blank">Constrain transform to shape</a></li>
    				</ul>
    			</div>
    		</li>
    		<li>
    			<a href="">Documentation<span class="caret"></span></a>
    			<div>
    				<ul>
    					<li><a href="http://animformed.ghoster.io/modular-rigging-tools-documentation/">Modular rigging tools for Maya</a></li>
    					<li><a href="http://animformed.ghoster.io/constraining-transforms-to-a-shape-in-maya/">Constrain transform to shape</a></li>
    				</ul>
    			</div>
    		</li>
    		<li>
    			<a href="">Tutorials<span class="caret"></span></a>
    			<div>
    				<ul>
    					<li><a href="http://animformed.ghoster.io/using-modular-rigging-tools-for-maya/">Modular rigging tools for Maya</a></li>
    				</ul>
    			</div>
    		</li>
    		<li>
    			<a href="">About<span class="caret"></span></a>
    			<div>
    				<ul>
    					<li><a href="http://animformed.ghoster.io/under-construction/">LinkedIn</a></li>
    					<li><a href="http://animformed.ghoster.io/under-construction/">Demo</a></li>
    					<li><a href="http://animformed.ghoster.io/under-construction/">Portfolio</a></li>
    					<li><a href="http://animformed.ghoster.io/under-construction/">Contact me</a></li>
    				</ul>
    			</div>
    		</li>
    	</ul>
    </nav>
</div>
